= form_with(model: [@survey, question]) do |form|
  - if question.errors.any?
    .row
      .col-md-3
      .col-md-6
        .alert.alert-danger.alert-dismissible.fade.show role="alert"
          h4.alert-heading = t('errors.template.header', count: question.errors.count, model: Question.model_name.human)
          ul.mb-0
            - question.errors.each do |error|
              li = error.full_message
          button.btn-close type="button" data-bs-dismiss="alert" aria-label=t('close')

  .row
    .col-md-3
    .col-md-6
      .mb-3
        = form.label :name, class: "form-label fw-bold"
        = form.text_field :name, class: "form-control", placeholder: t('activerecord.attributes.question.name')

      .mb-3.form-check
        = form.check_box :absolute, class: "form-check-input"
        = form.label :absolute, class: "form-check-label"

      .mt-4
        = form.submit t('submit'), class: "btn btn-primary px-4"
        = link_to t('cancel'), survey_questions_path(@survey), class: "btn btn-secondary ms-2"
      .col-md-2
